{{#each this}}
<li class="country-list__item">
      <img class="country__flag" src={{flags.svg}} alt={{name.official}} width="40" height="30">
      <span class="country__name">{{name.official}}</span>
          </li>
          {{/each}}